//COLORS
@main-color: #c5a47e;
@main-text-color: #777777;
@main-header-color: #222222;
@main-background-color: #FF7F50;
@additional-background-color: #FFA07A;
@additional-text-color: white;
@footer-color: white;
//FONTS
@main-text-font-size: 20px;

