@import "constants";
@import "utils";
@import "blocks/header-separator";
@import "blocks/double-diagonal-separator";
@import "blocks/header";
@import "blocks/animate";
@import "blocks/service";


.section {
  position: relative;
  padding: 2em 10% 5em;
  text-align: center;
}

.content-wrapper {
  overflow: hidden;
  width: 100%;
}

.lobster-font {
  font-family: 'Lobster', cursive;
}

