@import "constants";
@import "utils";
@import "blocks/separator";
@import "blocks/double-diagonal-separator";
@import "blocks/header";
@import "blocks/animate";
@import "blocks/service";
@import "blocks/map";
@import "blocks/footer";
@import "blocks/section-our-works";



.section {
  position: relative;
  padding: 2em 10% 5em;
  text-align: center;
}

.content-wrapper {
  overflow: hidden;
  width: 100%;
}

.lobster-font {
  font-family: 'Lobster', cursive;
}

