@import "../constants";

.service {

  margin-top: 2em;

  .service__icon {
    width: 7em;
    height: 7em;
    margin: auto auto 1em;
    background-color: @additional-background-color;
    border-radius: 50%;
    border: 5px white solid;
    .fa {
      font-size: 3em;
      margin-top: 0.6em;
    }
  }

  .service__header {
    color: @main-header-color;
    margin-bottom: 1em;
  }

  .service__icon:hover {
    background-color: #ffffff;
    border: 5px @additional-background-color solid;
    .fa {
      color: @additional-background-color;
    }
  }
}
